.outer-circle {
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 100%;

  background-image: repeating-conic-gradient(
    #fafafa 0deg,
    #fafafa 1deg,
    #d6d6d7 1deg,
    #d6d6d7 4deg
  );
}

.active-slider {
  border-radius: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
  opacity: 0.7;
}

.inner-circle {
  border-radius: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
  background: white;
}

.tail {
  position: absolute;
  background-color: white;
  border-radius: 100%;
  border: 1px solid #ccc;
  margin: auto;
  z-index: 2;
  cursor: pointer;
}

.tail,
.inner-circle,
.active-slider,
.outer-circle {
  user-select: none;
  box-sizing: border-box;
}
